// CSS RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Body 
body {
    font-family: 'Montserrat Variable', sans-serif;
}

// All the <a>
a {
    text-decoration: none;
}

// All ul li
ul li {
    list-style-type: none;
}