// Colors
$mainBgColor: #FFF;
$secondaryColor: #20AD96;
$tertiaryColor: #3F3A64;
$onlineCoursesBg: #F5F7FA;
$topsBgColor: #F8F8F8;
$customGrey: #F5F5F5;
$customDarkGrey: #696969;
$customLilla: #8c89A2;
$insightsBgColor: #F5F1ED;